<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCs8fnBnOgEFU92FmGAaax8CzyaRThz_jQ</string>
	<key>GCM_SENDER_ID</key>
	<string>83185944852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaemisoft.soloalone</string>
	<key>PROJECT_ID</key>
	<string>soloalone</string>
	<key>STORAGE_BUCKET</key>
	<string>soloalone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:83185944852:ios:af8d71a8f9e88f37409a01</string>
</dict>
</plist>